/* css */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;   
    list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
}

a {
    color:black;
    text-decoration: none;
}

.logo img{
    max-width: 100%;
    width: 90px;
    height: auto;
    padding: 10px;
}


/* Navigation start */


#mynav {
    background-color: #333;
    color: beige;
    overflow: auto;  
}

#mynav a {
    color: #fff;
}

#mynav ul {
    list-style: none;
    float:right;
}

#mynav ul li {
    float: left;
}


#mynav ul li a{
    display: block;
    padding-top: 15px;
    padding-right:24px ;
    padding-bottom: 15px;
    padding-left:24px ;
}
#mynav ul li a:hover,
#mynav ul li a.current {
    background: #444;
    color: #f7c08a;
}

.container {
    margin: auto;
    max-width: 1400px;
    overflow: auto;
    padding: 0 20px;
}

#mynav h1 {
    float: left;
    padding-top: 15px;
    color: #fff;
    padding-left: 18px;
}
/* End of Navigation Bar css */

section{
	padding: 100px 18%;
}
/* Homepage css */

.my{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: #3e2a2ac4;
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}
.my-text h1{
    font-size: 20px;
	margin: 10px 0px 45px;
	font-size: 23px;
	line-height: 1;
	font-weight: 450;
}
.my-text h2{
	margin-bottom: 5px;
	font-size: 19px;
	font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.my-text h3{
	font-size: 20px;
	font-weight: 500;
}
.my-text p{
	line-height: 28px;
	margin-bottom: 20px;
    text-align: justify;
}

.my-img img{
    border-radius: 10%;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-left: 41px;
}


.button1 {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 10px;
    border-radius: 30px;
    transition: ease .40s;
}


footer{
    text-align: center;
    background-color: #333;
    color: white;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.containers {
    margin: auto;
    width: 400px;
    overflow: auto;
    padding: 0 20px;
}

.box{
    width: 420px;
    background: rgba(0, 0, 0, 0.4);
    height: 400px;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    margin-top: 30px;
    margin-left: 41px;
}



/* Contact Form Starting */

.contactsection{
	background-color: #3e2a2ac4;
    background-size: cover;
    padding: 20px 0;
    padding-bottom: 150px;
}

.contactsection h1{
    text-align: center;
    color: #f5f5f5;
    margin-top: 30px;
}
.border{
    width: 180px;
    height: 5px;
    background-color: #ffffff;
    margin: 24px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contactformtext{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgb(213, 213, 213);
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
}

.contactformtext :focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contactformtext{
    resize: none;
    height: 120px;
}

.contactformbtn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 22px 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 0px;
}

.contactformbtn:hover{
    background: #2980b9;
}


.wrapping{
	background-color: #3e2a2ac4;
	background-size: cover;
	position: relative;
    padding-top: 50px;
	display: flex;
	align-items: center;
}

.wrapping video {
    max-width: 500px;
    margin-left: 100px;   
}

.wrapping h2{
    font-size: 44px;
	font-weight: 500;
}


/* all below is in project page  */
.project{
	min-height: 1vh;
	height: 100%;
	width: 100%;
	background-color: #3e2a2ac4;
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}


.project-video{
    display: flex;
    justify-content: center;
}


.projects h1{
    font-size: 20px;
	margin: 10px 0px 15px;
	font-size: 23px;
	line-height: 1.5;
	font-weight: 450;
}


.projects h2{
	margin-bottom: 5px;
	font-size: 19px;
	font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.projects h3{
	font-size: 20px;
	font-weight: 500;
}

/* a project page text paragraph  */


.projects p{
	line-height: 28px;
	margin-bottom: 40px;
    text-align: justify;
}


/* Making the video project centre */
.project-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: ;
}





/* for 3 video project  */
.project-video video{

    height: 400px;
    width: 600px;
    padding-right: 30px;

}



  /* this is in the myproject pages  */
.boxs{
    width: 420px;
    background: #333;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    margin-left: 40px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-top: 10px;
}




/* Making only one border when the screen is smaller */


.projected{
	height: 100%;
	width: 100%;
	background-color: #3e2a2ac4;
    height: 0px;

}

/* border for MyProject */
.borders{
    width: 996px;
    height: 5px;
    background-color: #ffffff;
    margin: auto;
}


/* Making My website Responsive */

@media  screen and (max-width: 1158px){
    .project
    {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .my
    {
        grid-template-columns: 1fr;
        margin: auto;
        padding: auto;
 
    }

    .borders
    {
        width: 456px;
        height: 5px;
        background-color: #ffffff; 
        
    }
    .boxs{
        margin: auto;
        margin-top: 90px;
        margin-bottom: -60px;

    }




    
}